/*changes format of webpage when screen changes*/
@media screen and (max-width: 728px) {
    body {
        color: peachpuff;
        background-color: black;
    }

    .jumbotron {
        margin: 0px;
        background: peachpuff;
    }
}